.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@keyframes moveMobileNav {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveMobileMenuText {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
